//
// Variables
//
@import "variables";

//
// Import needed Bootstrap Package Files
//
@import "EXT:bootstrap_package/Resources/Public/Scss/bootstrap5/theme";
@import "components/navbar";
@import "components/frame";

.footer-section-meta {
    background-color: #f8f8f8; //footer grau
    --frame-color: #000000;
    --frame-background: #f5f5f5;
    --frame-link-color: #014876;
    --frame-link-hover-color: #013f67;
}
