/* 08.03.2021 WVE frame 33/66 neu definiert*/﻿
/* WVE:  24.10. Innenabstand bei frame-well
custom.css  verwendete Farben:
TSVgruen #009120 TSVdunkelgruen= #006813  TSVweiss= #ffffff TSVggelb= #ffff00 
neuer Rahmen "swRahmen"  nur schwarzer Rahmen, 
*/

body {
  padding: 20px 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body container col-md-12 {
	padding-left: 0px;
    padding-right: 0px;
}

header .HeaderText{
  line-height: 0;
  text-shadow: 0 0 10px #3D2020;
}
.HeaderText h1, .h1 {
  font-size: 5EM;
}
@media screen and (max-width: 50em) {
    .HeaderText h1 {
        font-size:4em;
    }
}
  @media screen and (max-width: 40em) {
    .HeaderText h1 {
        font-size:3em;
    }
}
  @media screen and (max-width: 30em) {
   .HeaderText h1 {
        font-size:2em;
    }
}
header .container .rootline{
  padding-left: 15px;
  margin-bottom: 30px;
}

header .container .Navigation{
  margin-bottom: 0px;
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
.Headerimage {
  float:right;
  width: auto;
  height: 120px;
}
/* WVE  wegen News*/
.lead {
  margin-bottom: 20px;
  font-size: 14px;
  /*font-weight: 300; WVe*/
  font-weight: normal;
  line-height: 1.2;
}

.row.main .sidebar {
  margin-top: 68px;
}
footer .container .row {
  margin-top: 60px;
  padding-top: 20px;
  border-top: 1px dotted #ccc;
  border: 1px solid #0C2CBB;  /*dunkelblau */
  border-radius: 4px;
  background-color:#f5f5f5; /* hellgrau */
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #777777;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #5e5e5e;
}
.label-primary {
  background-color: #428bca;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #3071a9;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
 /* background-color: #5bc0de; 23.10.18 WVe*/
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}


.frame-intend-left {
  min-height: 20px;
  padding: 6px;
  margin-bottom: 12px;
  margin-left: 15px
  border: 1px solid #0C2CBB;  /* BEV dunkelblau */
  border-radius: 4px;
  /*background-color: #f0f0c0; blass gelb */
  background-color: #FDEED2;   /*BEV hellbraun*/
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05);
}
.frame-intend-left blockquote {
  border-color: #ddd;  /* gold gelb*/
  border-color: rgba(0, 0, 0, 1.15);
}
.frame-intend-left-lg {
  padding: 24px;  /*Innenabstand */
  background-color: #FDEED2; /*   BEV hellbraun*/
  border-radius: 6px;
}
.frame-intend-left-sm {
  padding: 9px;
  border-radius: 3px;
  background-color: #C9FEC2;  /* blassgruen*/
}

/* #eirücken # */
.frame-indent  { 
  color: inherit;
  margin-left: 15%; margin-right: 15%;/* zentriert*/
  padding: 3px; 
} 

.text-success {
 /* color: #3c763d;       gruen */
 color: #dff0d8;    /* blass gruen */
}

a.text-success:hover {
  color: #2b542c;       /* dunkel gruen*/
}
.flexslider .slides img { width: 100%; display: block; height: auto;}

.navbar-default {
  /* background-color: #f8f8f8;fast weiss*/
  background-color: #009120; /*TSVgruen */
  /*border-color: #e7e7e7;*/
  border-color: #FFFFFF; /* TSVweiss */
}
/*WVE #f8f8f8 = fast weiss border: #e7e7e7 = etwas dunkleres weiss*/
.navbar-default .navbar-brand {
  /* WVE color: #777777; mittelgrau zu TSVgruen #009120 */
  color: #009120;
  
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #009120; /* TSVgruen #009120 */
  background-color: transparent;
}
/*WVE #5e5e5e = grau   #777777= helleres grau
ersetzt durch TSV-gruen #009120 und #006813 TSVdunkelgruen
*/
.navbar-default .navbar-text {
  /* WVE color: #777777; mittelgrau zu TSVweiss #FFFFFF*/
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;/* Textfarbe TSVweiss bei Mouse over*/
  background-color: transparent;
}
/*WVE #333333 = dunkelgrau ersetzt durch TSVdunkelgruen #006813*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF; /* Textfarbe TSVweiss*/
  background-color: #006813; /* Hintergrund TSVdunkelgruen*/
  /* WVE color: #555555 mittelgrau   background-color: #e7e7e7 etwas dunkleres weiss;
  ersetzt durch #006813 TSVdunkelgruen und Textfarbe TSVgelb #FFFF00
  */
}
/*WVE #555555= grau  #e7e7e7 = etwas dunkleres weiss*/
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
/*WVE #cccccc= hellgrau, aber dunkler als #e7e7e7  */

.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
/*WVE #dddddd= hellgrau  ; #888888=mittelgrau*/

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff; /*statt #888888   TSVweiss= #ffffff*/
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
/*WVE #e7e7e7= etwas dunkleres weiss  ; #888888=mittelgrau*/

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  /*background-color: #e7e7e7; etwas dunkleres weiss
               color: #555555;  grau*/
  background-color: #006813; /*TSVdunkelgruen #006813*/
  color: #FFFF00; /* Schrift=TSVgelb*/
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    background-color: #006813; /*TSVdunkelgruen #006813*/
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
   /* color: #333333; -> TSVdunkelgruen #006813*/
  background-color: #006813; /*TSVdunkelgruen #006813*/
  }
/*WVE #333333= dunkelgrau  ; #777777=mittelgrau
    #333333 ersetzt durch #006813 und #009120 TSV-gruen und TSV-dunkleres gruen
    OK */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
   color: #333333; /* TSVdunkelgruen #006813 ??*/
     background-color: #006813;  /* testfarbe dunkellila*/
    /*background-color: #FFFF00;  gelb*/
  }
  /* WVE color: #555555 mittelgrau   background-color: #e7e7e7 etwas dunkleres weiss;
  ersetzt durch #006813 TSVgruen und Textfarbe gelb #FFFF00
  */
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    /* color: #cccccc;  hellgrau*/
    color: #cccccc;
   background-color: #006813;
  }
}
.navbar-default .navbar-link {
  /*color: #777777; mittelgrau*/
    color: #1E021D; /* testfarbe dunkellila*/
}
.navbar-default .navbar-link:hover {
  color: #333333;/* #333333 dunkelgrau zu TSVdunkelgruen #006813*/
}
.navbar-default .btn-link {
  color: #777777;/* #777777 mittelgrau wird TSVdunkelgruen #006813*/
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333333;/* #333333 dunkelgrau zu TSVdunkelgruen #006813*/
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #cccccc;   /* hellgrau*/
}

footer .container .row  {
  /*background-color: #FBFBFB; elfenbein ersetzt durch e7e7e7*/
  background-color:#e7e7e7;
  }

.dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*
 You probably do not need to edit this at all.

 Add some SmartMenus required styles not covered in Bootstrap 3's default CSS.
 These are theme independent and should work with any Bootstrap 3 theme mod.
*/
/* sub menus arrows on desktop */
.navbar-nav:not(.sm-collapsible) ul .caret {
	position: absolute;
	right: 0;
	margin-top: 6px;
	margin-right: 15px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px dashed;
}
.navbar-nav:not(.sm-collapsible) ul a.has-submenu {
	padding-right: 30px;
}
/* make sub menu arrows look like +/- buttons in collapsible mode */
.navbar-nav.sm-collapsible .caret, .navbar-nav.sm-collapsible ul .caret {
	position: absolute;
	right: 0;
	margin: -3px 15px 0 0;
	padding: 0;
	width: 32px;
	height: 26px;
	line-height: 24px;
	text-align: center;
	border-width: 1px;
 	border-style: solid;
}
.navbar-nav.sm-collapsible .caret:before {
	content: '+';
	font-family: monospace;
	font-weight: bold;
}
.navbar-nav.sm-collapsible .open > a > .caret:before {
	content: '-';
}
.navbar-nav.sm-collapsible a.has-submenu {
	padding-right: 50px;
}
/* revert to Bootstrap's default carets in collapsible mode when the "data-sm-skip-collapsible-behavior" attribute is set to the ul.navbar-nav */
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret, .navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] ul .caret {
	position: static;
	margin: 0 0 0 2px;
	padding: 0;
	width: 0;
	height: 0;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-bottom: 0;
	border-left: 4px solid transparent;
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret:before {
	content: '' !important;
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] a.has-submenu {
	padding-right: 15px;
}
/* scrolling arrows for tall menus */
.navbar-nav span.scroll-up, .navbar-nav span.scroll-down {
	position: absolute;
	display: none;
	visibility: hidden;
	height: 20px;
	overflow: hidden;
	text-align: center;
}
.navbar-nav span.scroll-up-arrow, .navbar-nav span.scroll-down-arrow {
	position: absolute;
	top: -2px;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	overflow: hidden;
	border-top: 7px dashed transparent;
	border-right: 7px dashed transparent;
	border-bottom: 7px solid;
	border-left: 7px dashed transparent;
}
.navbar-nav span.scroll-down-arrow {
	top: 6px;
	border-top: 7px solid;
	border-right: 7px dashed transparent;
	border-bottom: 7px dashed transparent;
	border-left: 7px dashed transparent;
}
/* add more indentation for 2+ level sub in collapsible mode - Bootstrap normally supports just 1 level sub menus */
.navbar-nav.sm-collapsible ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul .dropdown-menu .dropdown-header {
	padding-left: 35px;
}
.navbar-nav.sm-collapsible ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul .dropdown-menu .dropdown-header {
	padding-left: 45px;
}
.navbar-nav.sm-collapsible ul ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul ul .dropdown-menu .dropdown-header {
	padding-left: 55px;
}
.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu .dropdown-header {
	padding-left: 65px;
}
/* fix SmartMenus sub menus auto width (subMenusMinWidth and subMenusMaxWidth options) */
.navbar-nav .dropdown-menu > li > a {
	white-space: normal;
}
.navbar-nav ul.sm-nowrap > li > a {
	white-space: nowrap;
}
.navbar-nav.sm-collapsible ul.sm-nowrap > li > a {
	white-space: normal;
}
/* fix .navbar-right subs alignment */
.navbar-right ul.dropdown-menu {
	left: 0;
	right: auto;
}
