.frame {
    position: relative;
    margin-top: var(--frame-outer-spacing-before);
    margin-bottom: var(--frame-outer-spacing-after);
    padding-top: var(--frame-spacing);
    padding-bottom: var(--frame-spacing);
    color: var(--frame-color);
    background: var(--frame-background);
    --frame-spacing: var(--frame-spacing-xs);
    }

.frame-well {
    background-color: #f0f0c0;/*blass gelb */
    border: 1px solid #0C2CBB;  /* dunkelblau */
    border-radius: 4px;
    padding: 6px; /* WVe Innenabstand */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
   }
.frame-well blockquote {
    border-color: #ddd; /* gold gelb*/
    border-color: rgba(0, 0, 0, 0.15);
  }
.frame-swRahmen  { 
    margin-left: 0%; margin-right: 0%;/* ohne Einrücken*/
    background-color: #FFFFFF;   /* weiß */
    border: 1px solid #000000;  /* sw */
    border-radius: 4px;
    padding: 3px; /* Innenabstand */
  }
  
.frame-hellblau  { /* 16.03.2021 WVe*/
    min-height: 20px;
    padding: 6px;   /* innenabstand*/
    margin-bottom: 12px;
    border: 1px solid #0C2CBB;  /* BEV dunkelblau */
    border-radius: 3px;
    background-color: #DBFFFF;  /* hellblau*/
              /*background-color: #FDEED2;   BEV hellbraun*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05);
    }

.frame-well-lg {
    padding: 24px;  /*Innenabstand */
    border-radius: 6px;
    border: 2px solid #0C2CBB;  /* dunkelblau */
    }

.frame-well-sm {
    padding: 9px;
    border-radius: 3px;
    background-color: #C9FEC2;  /* blassgruen*/
    }

.frame-jumbotron {
    padding: 6px;
    margin-bottom: 6px;  /*Bodenabstand */
    color: inherit;
    background-color: #FDEED2;  /* hellbraun*/
    border: 2px solid #0C2CBB;  /* dunkelblau */
    border-radius: 6px;
    }

.frame-jumbotron h2, /* H2 statt H1*/
.frame-jumbotron .h2 {
    color: inherit; /* geerbt*/
    }